<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css">

   <!-- SVG Filters -->
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: none;">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="1" result="blur"></feGaussianBlur>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 13 -4" result="goo"></feColorMatrix>
        <feBlend in="goo" in2="goo"></feBlend>
      </filter>
      <filter id="invert">
        <feGaussianBlur in="SourceGraphic" stdDeviation="1" result="blur"></feGaussianBlur>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 13 -4" result="goo"></feColorMatrix>
        <feBlend in="goo" in2="goo"></feBlend>
      </filter>
    </defs>
  </svg>
  
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  
  <!-- font Awesome -->
  <script src="https://kit.fontawesome.com/87338cd393.js" crossorigin="anonymous"></script>

</head>
<body>
  <div class="mobile-banner">
    <marquee behavior="scroll" direction="left">Mobile users please use as desktop site. Its an option when pressing the 3 dots in the corner of your browser, otherwise itll look like shit</marquee>
  </div>
  {% include 'header.njk' %}
  <main>
  {{ content | safe }}
  </main>
  {% include 'footer.njk'%}


  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
  
</body>
</html>