---
layout: base.njk
---

<div class="content clearfix">
  <div class="main-content">
    <h1>{{ title }}</h1>
    <ul class="posts-list">
      {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</div>
