<header>
  <div class="logo">
    <h1 class="logo-text goo-title"><i><span>L.M.F.A.O </span></i> 061</h1>
  </div>

  <i class="fa-solid fa-bars menu-toggle"></i>

  <ul class="nav">
    <li><a href="/blog/">All Articles</a></li>
    <li><a href="/index/">Home</a></li>
    

    
  </ul>
</header>


