<header>
  <div class="logo">
    <h1 class="logo-text goo-title"><i><span>L.M.F.A.O </span></i> 061</h1>
  </div>

  <i class="fa-solid fa-bars menu-toggle"></i>

  <ul class="nav">
    <li>
      <a href="/blog/">
        <img src="/images/all%20articles.png" alt="All Articles">
      </a>
    </li>
    <li>
      <a href="/index/">
        <img src="/images/home.png" alt="Home">
      </a>
    </li>
    

    
  </ul>
</header>


