/* =====================
   MOBILE BANNER
   ===================== */

.mobile-banner {
  background: #8e2525;
  color: white;
  padding: 10px 0;
  overflow: hidden;
  width: 100%;
}

.mobile-banner marquee {
  font-weight: bold;
  font-size: 1rem;
}

/* =====================
   GLOBAL RESET
   ===================== */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  background-image: url("/images/space.jpg");
  font-family: 'Courier Prime', 'Static';
}

h1{
filter: url('#goo');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier Prime', 'Static';
  color: white;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn { 
  padding: .5rem 1rem;
  background: #8e2525;
  color: yellow;
  border: 1px solid transparent;
  border-radius: .25rem;
  
 
}

.btn:hover { 
  color: white !important;
  background: #8e2525;
}

.text-input {
  padding: .7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  outline: none;
  color: black;
  line-height: 1.5rem;
  font-size: 1.2em;
  font-family: 'Courier Prime', 'Static';
}

.msg { 
  width: 100%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 5px;
  list-style: none;
}

.success {
  color: green;
  border: 1px solid green;
  background: #90EE90;
}

.error {
   color: red;
  border: 1px solid red;
  background: #f5bcbc;
}

/* =====================
   HEADER
   ===================== */

header {
  background: #ff0000;
  height: 66px;
}

header * {
  color: black;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 9px;
  font-family: 'Inter', 'Medium500';
}

header .logo-text.goo-title {
  filter: url(#goo);
}

header .logo-text span {
  color: white;
}

header ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.6);
}

header ul li a:hover {
  background: #8e2525;
  transition: 0.5s;
}

/* dropdown */

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0;
  width: 180px;
  display: none;
  z-index: 99999;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a:hover {
  background: #444;
  color: white;
}

header ul li ul li .logout {
  color: red;
}

header .menu-toggle {
  display: none;
}

/* =====================
   PAGE WRAPPER
   ===================== */
.page-wrapper { 
  min-height: 100%;
}
  
.page-wrapper a:hover {
  color: yellow;
}

/* =====================
   POST SLIDER
   ===================== */

.post-slider {
  position: relative;
}

.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
  color: yellow;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.6), 0 0 30px rgba(255, 255, 0, 0.4);
}

.post-slider .next,
.post-slider .prev {
  position: absolute;
  top: 50%;
  font-size: 2em;
  cursor: pointer;
}

.post-slider .next {
  right: 30px;
}

.post-slider .prev {
  left: 30px;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
}

.post-slider .post-wrapper .post {
  height: 300px;
  width: 330px;
  margin: 0 10px;
  display: inline-block;
  background: #8e2525;
  
  box-shadow: 1rem 1rem 1rem -1rem #8e2525;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-slider .post-wrapper .post .post-info {
  height: 100px;
  padding: 5px;
}

/* =====================
   CONTENT
   ===================== */

.content {
  width: 90%;
  margin: 30px auto;
}

.content .main-content {
  width: 70%;
  float: left;
}
.content .main-content.single {
  background: red;
  padding: 20px 50px; 
  font-size: 1.1em;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  float: none;
}
.content .sidebar {
  width: 30%;
  float: left;
  height: 300px;
}

.content .sidebar.single {
  padding: 0px 10px;
  
}

.content .main-content.single .post-content img {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  width: 90%;
  height: auto;
}


/* =====================
   POSTS
   ===================== */
   
   .content .main-content .post .post-preview {
     width: 60%;
   padding: 10px;
   float: right;
   }

.content .main-content .recent-post-title {
  margin: 20px;
}

.content .main-content .post {
  width: 95%;
  height: 270px;
  margin: 10px auto;
  
  background: #8E2525;
  overflow: hidden;
  position: relative;
}

.post {
  background: rgba(206, 17, 17, 0.85); /* dark readable card */
  color: #fff;
  padding: 20px;
  margin: 30px auto;
  max-width: 800px;
  
  box-shadow: 0 10px 30px rgba(183, 34, 34, 0.6);
}


.content .main-content .post .read-more  {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
  
.content .main-content .post .post-image {
  width: 40%;
  height: 100%;
  float: left;
  object-fit: cover;
}

.cotent .main-content.single .post-title,
.content .main-content.single h1,
.content .main-content.single h2,
.content .main-content.single h3,
.content .main-content.single h4,
.content .main-content.single h5,
.content .main-content.single h6 {
  text-align: center;
  margin-bottom: 40px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 2rem;
}

.main-content.single {
  width: 100%;
}
.post-content {
  color: black;
  text-align: justify;
  line-height: 1.8;
  letter-spacing: 0.5px;
  background: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 8px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 0;
  padding: 0;
  color: black;
}
.content .main-content .post .post-preview  {
  width: 60%;
  float: left;
  padding: 15px;
}

.content .sidebar .section {
  background: #8E2525;
  padding: 20px;
  
  margin-bottom: 20px;
}

.content .sidebar .section .section-title {
  margin: 10px 0px 10px 0px;
}

.content .sidebar .section.search {
  margin-top: 80px;
}
.content .sidebar .section.topics ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 1px solid yellow
}
.content .sidebar .section.topics ul li a {
  border-bottom: 1px solid yellow;
  padding: 15px 0px 15px 0px;
  display: block;
  transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover{
  padding-left: 20px;
  transition: all 0.3s;
}

   
  /* auth pages */
  
  
  .auth-content { 
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
  }
  
  .auth-content form div {
    margin-bottom: 10px;
  }
  
  .auth-content .form-title {
    text-align: center;
    color: black;
  }
  
  .auth-content form div {
    margin-bottom: 10px;
  }
  
  .auth-content form p {
    text-align: center;
  }
  
  .auth-content form p a {
    text-decoration: underline;
  }
  
/*footer*/
.footer { 
  background: #8e2525;
  color: white;
  height: 400px;
  position: relative;
}
  
  .footer .footer-content {
  border: 1px solid white;
  height: 350px;
  display: flex
  }
  
  .footer .footer-contnt .footer-section{
    flex: 1;
    padding: 25px;
    
  }
  
  
  .footer .footer-bottom{ 
    background:  #8e2525;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
  }
  
  
  
  
 
  
/* =====================
   MEDIA QUERIES
   ===================== */

@media only screen and (max-width: 750px) {
  header {
    position: relative;
  }

  header ul {
    width: 100%;
    background: #cc0000;
    max-height: 0;
    overflow: hidden;
  }

  .showing {
    max-height: 100em;
  }

  header ul li {
    width: 100%;
  }

  header ul li ul {
    position: static;
    display: block;
    width: 100%;
  }

  header ul li ul li a {
    background: #262626;
    color: white;
    padding-left: 50px;
  }

  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
  }

  header .logo {
    margin-left: 0.5em;
  }

  .content .main-content,
  .content .sidebar {
    width: 100%;
    float: none;
  }

  .post-image,
  .post-preview {
    width: 100%;
    float: none;
  }

  .content .main-content .post {
    height: auto;
  }
  
  .posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts-list > li {
  margin: 0;
  padding: 0;
}
  
  



}
  
  

  